* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
  }

/* Navigation */
nav li{
    display:inline-block;
}
a{
    text-decoration: none;
}


    /* Mobile Navigation */
    [class*="col-"] {
        width: 100%;
    }
    @media only screen and (max-width: 576px) {

        .top-nav{
            width: 100%;
            height: 80px;
            background-color: #fff;
            z-index: 15;
            }

        .logo{
            margin-top:26px;
            margin-left:26px;
        }

        .bars{
            cursor: pointer;
            border-radius: 5px;
        }

        .nav-container{
            width: 0px;
            height:0;
            overflow: hidden;
            float: right;
            background-color: #fff;            
            margin-top: -69px;
            border-radius: 10px;
            z-index: 20;
        }
        
        #x{
            right:20px;
            top:20px;
        }
        
        #certi{
            width: 100%;
            background-color: #99cc33;
            color:#fff;
            font-size:18px;
            font-weight: 400;
            cursor: pointer;
            padding-top:16px;
            padding-bottom:28px;
            margin-top:30px;
        }


        header nav ul{
            display: block;
            overflow: hidden;
            background: #fff;
            height:0;
        }
        
        header nav ul li{
            float:none;
            text-align: left;
            width:100%;
        }

        header nav ul li a{
            color: #738678;
            font-size:16px;
            padding:10px 40px;
            display: block;
            margin:0;
        }

        header nav ul li a:hover{
            color: #99cc33;
        }
        
        header nav ul li a:active{
            color: #99cc33;
        }

        .col-3{
            display: none;
        }
        .col-sm-1{
            width:8.33%;;
        }
        .col-sm-2{
            width:16.66%;;
        }
        .col-sm-10{
            width:83.33%;
        }
        .col-sm-11{
            width:91.66%;
        }

    }

/* Lettering */
h3{
    font-size:20px;
    color:#99cc33;
} 


/* Helpers */
.text-center{
    text-align: center;
}

.inline{

    justify-content: right;

}
.block{
    display: block;

}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.shadow {
    -webkit-box-shadow: 3px 8px 10px 4px rgba(244,244,244,0.3);
    -moz-box-shadow:    3px 8px 10px 4px rgba(244,244,244,0.3);
    box-shadow:         3px 8px 10px 4px rgba(244,244,244,0.3);
}

    /* Flex */
    .row{
        display: flex;
    }
    .col-3 {
        width: 25%;
    }
    .col-6 {
        width: 50%;
    }

    /* Paddings */
    .p-10{
        padding:10px;
    }
    .pl-40{
        padding-left:40px;
    }
    .pt-40{
        padding-top:40px;
    }
    .pb-40{
        padding-bottom:40px;
    }
    .pt-20{
        padding-top:20px;
    }
    .pb-20{
        padding-bottom:20px;
    }

    /* Margins */
    .mt-20{
        margin-top:20px;
    }