* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
  }

:root{
    --primary-green:#99cc33;
    --secondary-green:#339933;
}
/* Navigation */
nav li{
    display:inline-block;
}
a{
    text-decoration: none;
}

    /* Mobile Navigation */
    [class*="col-"] {
        width: 100%;
    }

    .top-nav{
        width: 100%;
        height: 80px;
        background-color: #fff;
        z-index: 15;
        }
    
    .top-nav-opacity{
        background-color: rgba(255,255,255,0.5);
        height: 85px;
        transition: background-color 1s ease-in-out, height 0.3s ease-in-out;
    }
    .bars{
        cursor: pointer;
        border-radius: 5px;
    }

    .nav-container{
        width: 0px;
        height:0;
        overflow: hidden;
        background-color: #fff;            
        border-radius: 10px 0px 10px 10px;
        z-index: 20;
        right: 0;
    }
    
    #x{
        right:30px;
        top:30px;
    }
    
    #certi{
        width: 100%;
        background-color: var(--primary-green);
        color:#fff;
        font-size:16px;
        font-weight: 400;
        cursor: pointer;
        padding-top:16px;
        padding-bottom:28px;
        margin-top:35px;
    }

    .navport ul{
        display: block;
        overflow: hidden;
        background: #fff;
        height:0;
    }
    
    .navport ul li{
        float:none;
        text-align: left;
        width:100%;
    }

    nav ul li a{
        color: #738678;
        font-size:14px;
        padding:10px 40px;
        margin:0;
        transition: color 500ms ease-in-out;
    }

    nav ul li a:hover{
        color: var(--primary-green);
    }
    
    nav ul li a:active{
        color: var(--primary-green);
    }

    #certificado{
        display: inline-block;
        background-color: var(--primary-green);
        color:#fff;
        font-size:14px;
        font-weight: 400;
    }

/* Header */

.head{
    background-image: url(/assets/img/Media/Desat_Background.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    top:80px;
    height: 100vh;
    z-index: 1;
}
.logoContainer{
    width: 70%;
    top:30%;
    left:15%;
}


.cuerpo{
    background-color: var(--primary-green);
    height: 1000px;
}

        /* Small Devices */
        @media (max-width: 575.98px) {
            /* Navigation */ 
            .col-sm-2{
                width:16.66%;
            }
            .col-sm-10{
                width:83.33%;
            }
            .navland{
                display:none;
            }
            .navport ul li a{
                display: block;
            }

            #certificado{
                display:none;
            }

            /* Header */

            .head{
                height:400px;
            }

            /* Carousel */
            .back-carousel{
                top:80px;
                height: auto !important;
            }
            #next{
                display:none;
            }
            #carousel.row{
                flex-direction: column;
            }
            #carousel{
                padding-left: 20px !important; 
                padding-right: 20px !important; 
                padding-top:50px !important;
            }
            .rounded-chart-left{
                border-radius:10px 10px 0px 0px !important;
            }
            .rounded-chart-right{
                border-radius:0px 0px 10px 10px !important;
            }
            .text{
                margin-left: 0px !important;
                bottom:0px !important;
                border-radius: 0px !important;
            }
            .content-container{
                height: auto!important;
                margin-bottom:40px !important;
            }
            .title-container{
                display: none;
            }
            h2{
                margin-top:50px;
            }
            .dot-container{
                top:10px;
                left:0%;
                margin: 10px 1% !important;
            }
            .dot{
                height: 50px !important;
                width: 50px !important;
            }

        }

        /* Small Devices Landscape */ 
        @media only screen and (min-width: 576px) and (max-width: 767.98px) {
            /* Navigation */ 
            .col-mdl-2{
                width:16.66%;
            }
            .col-mdl-10{
                width:83.33%;
            }

            .bars{
                display: none;
            }
            #navbox{
                display:none;
            }
            
            #certificado{
                margin-left:-1px;
            }

            div nav ul li{
                text-align: left;
                display:inline-block;
            }

            div nav ul li a{
                color: #738678;
                font-size:14px;
                padding:10px 0px;
                margin:0;
            }

            .tooltip .tooltiptext {
                left: 0%;
                margin-left: -20px;
            }    
            
            /* Header */

            .head{
                height:400px;
            }
            .logoContainer{
                width: 60% !important;
                left:20% !important;
            }
            h3 br{
                display:none;
            }

            /* Carousel */
            .back-carousel{
                top:80px;
                height: auto !important;
            }
            #next{
                display:none;
            }
            #carousel.row{
                flex-direction: column;
            }
            #carousel{
                padding-left: 20px !important; 
                padding-right: 20px !important; 
                padding-top:50px !important;
            }
            .rounded-chart-left{
                border-radius:10px 10px 0px 0px !important;
            }
            .rounded-chart-right{
                border-radius:0px 0px 10px 10px !important;
            }
            .text{
                margin-left: 0px !important;
                bottom:0px !important;
                border-radius: 0px !important;
            }
            .content-container{
                height: auto!important;
                margin-bottom:40px !important;
            }
            .title-container{
                display: none;
            }
            h2{
                margin-top:50px;
            }
            .dot-container{
                top:10px;
                left:0%;
                margin: 10px 5% !important;
            }
            .dot{
                height: 60px !important;
                width: 60px !important;
            }

        }

        /* Medium Devices */
        @media only screen and (min-width: 768px) and (max-width: 991.98px) {
            /* Navigation */ 
            .col-md-2{
                width:16.66%;
            }
            .col-md-10{
                width:83.33%;
            }
            .bars{
                display: none;
            }
            #navbox{
                display:none;
            }
            #next{
                display:none;
            }

            div nav ul li{
                text-align: left;
                display:inline-block;
            }

            div nav ul li a{
                color: #738678;
                font-size:14px;
                padding:10px 0px;
                margin:0;
            }

            /* Header */

            .head{
                height:400px;
            }
            .logoContainer{
                width: 50% !important;
                left:25% !important;
            }
            h3 br{
                display:none;
            }

            /* Carousel */
            .back-carousel{
                top:80px;
                height: auto !important;
            }
            #next{
                display:none;
            }
            #carousel.row{
                flex-direction: column;
            }
            #carousel{
                padding-left: 20px !important; 
                padding-right: 20px !important; 
                padding-top:50px !important;
            }
            .rounded-chart-left{
                border-radius:10px 10px 0px 0px !important;
            }
            .rounded-chart-right{
                border-radius:0px 0px 10px 10px !important;
            }
            .text{
                margin-left: 0px !important;
                bottom:0px !important;
                border-radius: 0px !important;
            }
            .content-container{
                height: auto!important;
                margin-bottom:40px !important;
            }
            .title-container{
                display: none;
            }
            h2{
                margin-top:50px;
            }
            .dot-container{
                top:10px;
                left:0%;
                margin: 10px 5% !important;
            }
            .dot{
                height: 60px !important;
                width: 60px !important;
            }
        }

        /* Large Devices */
        @media only screen and (min-width: 992px) {
            /* Navigation */ 
            .col-lg-3{
                width:25%;
            }
            .col-lg-9{
                width:75%;
            }
            .col-lg-4{
                width: 33.33%;
            }
            .col-lg-6{
                width: 50%;
            }
            .bars{
                display: none;
            }
            #navbox{
                display:none;
            }
            div nav ul li{
                text-align: left;
                display:inline-block;
            }

            div nav ul li a{
                color: #738678;
                font-size:14px;
                padding:10px 0px;
                margin:0;
            }

            .logoContainer{
                width: 50% !important;
                left:25% !important;
            }
            h3 br{
                display:none;
            }

            .back-carousel{
                top:80px;
            }
        
        }



/* Lettering */
h2{
    font-size: 40px;
    color:var(--primary-green);
} 
h3{
    font-size:20px;
    color:var(--primary-green);
} 
h5{
    font-size:14px;
    font-weight: 100;
}
.white{
    color:#fff;
}

/* Helpers */
.text-center{
    text-align: center;
}
.right{
    text-align: right;
    justify-content: end;
}

.inline{

    justify-content: right;

}
.block{
    display: block;

}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.fixed{
    position: fixed;
}
.shadow {
    -webkit-box-shadow: 3px 8px 12px 4px rgba(0,0,0,0.05);
    -moz-box-shadow:    3px 8px 12px 4px rgba(0,0,0,0.05);
    box-shadow:         3px 8px 12px 4px rgba(0,0,0,0.05);
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}


/* Elements */
    .btn{
        padding:10px 20px;
        border-radius: 5px;
    }

    /* Tooltip */
    .tooltip {
        position: relative;
        display: inline-block;
    }
    .tooltip .tooltiptext {
        width: 120px;
        background-color: var(--secondary-green);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: absolute;
        z-index: 1;
        top: 150%;
        left: 58%;
        margin-left: -60px;
        transition: opacity 1s ease-in-out;
        opacity: 0;

      }
      
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        right: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color:  transparent transparent #339933 transparent;
      }
      
      .tooltip:hover .tooltiptext {
        opacity: 1;
      }

      .tooltip:active .tooltiptext {
        opacity: 1;
      }     

    /* Flex */
    .row{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .col-3 {
        width: 25%;
    }
    .col-6 {
        width: 50%;
    }

    /* Paddings */
    .p-10{
        padding:10px;
    }
    .pl-40{
        padding-left:40px;
    }
    .pt-40{
        padding-top:40px;
    }
    .pb-40{
        padding-bottom:40px;
    }
    .pt-20{
        padding-top:20px;
    }
    .pb-20{
        padding-bottom:20px;
    }
    .pr-20{
        padding-right:20px;
    }
    .pl-20{
        padding-left:20px;
    }

    /* Margins */

    .mt-30{
        margin-top:30px;
    }
    .mb-30{
        margin-bottom:30px;
    }
    .ml-30{ 
       margin-left:30px;
    }
    .mr-30{ 
        margin-right:30px;
    }
    .ml-20{ 
       margin-left:20px;
    }

     /* debug  */
    .border{
        border: 1px solid red;
    }