* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
  }

/* Navigation */
nav li{
    display:inline-block;
}
a{
    text-decoration: none;
}

    /* Mobile Navigation */
    [class*="col-"] {
        width: 100%;
    }

    .top-nav{
        width: 100%;
        height: 80px;
        background-color: #fff;
        z-index: 15;
        }

    .bars{
        cursor: pointer;
        border-radius: 5px;
    }

    .nav-container{
        width: 0px;
        height:0;
        overflow: hidden;
        float: right;
        background-color: #fff;            
        margin-top: -80px;
        border-radius: 10px 0px 10px 10px;
        z-index: 20;
    }
    
    #x{
        right:30px;
        top:30px;
    }
    
    #certi{
        width: 100%;
        background-color: #99cc33;
        color:#fff;
        font-size:18px;
        font-weight: 400;
        cursor: pointer;
        padding-top:16px;
        padding-bottom:28px;
        margin-top:30px;
    }

    .navport ul{
        display: block;
        overflow: hidden;
        background: #fff;
        height:0;
    }
    
    .navport ul li{
        float:none;
        text-align: left;
        width:100%;
    }

    .navport ul li a{
        color: #738678;
        font-size:16px;
        padding:10px 40px;
        display: block;
        margin:0;
    }

    .navport ul li a:hover{
        color: #99cc33;
    }
    
    .navport ul li a:active{
        color: #99cc33;
    }

        /* Small Devices */
        @media only screen and (max-width: 575.98px) {
 
            .col-sm-2{
                width:16.66%;
            }
            .col-sm-10{
                width:83.33%;
            }
            .navland{
                display:none;
            }

        }

        /* Small Landscape Devices */
        @media only screen and (min-width: 576px) and (max-width: 767.98px) {

            .col-md-2{
                width:16.66%;
            }
            .col-md-10{
                width:83.33%;
            }
            .bars{
                display: none;
            }
            #navbox{
                display:none;
            }

            div nav ul li{
                text-align: left;
                display:inline-block;
            }

            div nav li a{
                color: #738678;
                font-size:16px;
                margin:0;
            }
        
            div nav li a:hover{
                color: #99cc33;
            }
            
            div nav li a:active{
                color: #99cc33;
            }

            #certificado{
                display: flex;
                background-color: #99cc33;
                color:#fff;
                font-size:16px;
                font-weight: 400;
            }

        }

        @media only screen and (min-width: 768px) and (max-width: 991.98px) {

            .col-lg-2{
                width:16.66%;
            }
            .col-lg-10{
                width:83.33%;
            }

        }

/* Lettering */
h3{
    font-size:20px;
    color:#99cc33;
} 


/* Helpers */
.text-center{
    text-align: center;
}
.right{
    text-align: right;
    justify-content: end;
}

.inline{

    justify-content: right;

}
.block{
    display: block;

}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.shadow {
    -webkit-box-shadow: 3px 8px 12px 4px rgba(244,244,244,0.5);
    -moz-box-shadow:    3px 8px 12px 4px rgba(244,244,244,0.5);
    box-shadow:         3px 8px 12px 4px rgba(244,244,244,0.5);
}

/* Elements */


    /* Flex */
    .row{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .col-3 {
        width: 25%;
    }
    .col-6 {
        width: 50%;
    }

    /* Paddings */
    .p-10{
        padding:10px;
    }
    .pl-40{
        padding-left:40px;
    }
    .pt-40{
        padding-top:40px;
    }
    .pb-40{
        padding-bottom:40px;
    }
    .pt-20{
        padding-top:20px;
    }
    .pb-20{
        padding-bottom:20px;
    }

    /* Margins */

    .mt-30{
        margin-top:30px;
    }
    .ml-30{ 
       margin-left:30px;
    }
    .mr-30{ 
        margin-right:30px;
     }

     /* debug  */
    .border{
        border: 1px solid red;
    }